#Page
{
    width:900px;
}

#Header
{
    height:80px;
    text-align:center;
    font-size:30px;
    background-color:aquamarine;
    
}

#Sidebar
{
    position:absolute;
    left:10px;
    top:100px;
    width:160px;
    background-color:Aqua;
}

#Content
{
    position:absolute;
    left:180px;
    top:100px;
}

#Footer
{
    background-color:aquamarine;
}